/.vscode
.DS_Store

*.pyc
__pycache__/

migrations/

*.db
*.gitignore

server/qview3dserver.egg-info/
server/dist

printeremu/testserver/node_modules/
/qodana.yaml
/Tests/logs/
/Tests/server/
/logs/
/server/logs/
/server/__Hidden__/
/.python-venv
