/.vscode
.DS_Store

*.pyc
__pycache__/

migrations/

*.db

server/qview3dserver.egg-info/
server/dist

printeremu/testserver/node_modules/

.DS_Store
/qodana.yaml
/Tests/logs/
/Tests/server/
/logs/
/server/logs/
