@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));


/* Custom variables for coloring */
:root {
    --primary-color: #7E66B9;
    --secondary-color: #cbbcee;
    --background-color: #e5e7eb; 
    --background-color-dark: #1f2937; 
    --text-color: #333333;
    --text-color-dark: #f1f1f1;
}

.bg-primary {
    background-color: var(--background-color);
}

.bg-primary-dark {
    background-color: var(--background-color);
}

.text-color {
    color: var(--text-color)
}

.text-color-dark {
    color: var(--text-color-dark)
}

.highlight {
    background-color: var(--primary-color);
}

.highlight-dark {
    background-color: var(--secondary-color);
}