@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: var(--color-background);
  color: var(--color-background-font)
}

input[type='checkbox'],
input[type='radio'],
input[type='text'],
input[type='number'],
input[type='name'],
.border-top {
  color: var(--color-background-font);
  background-color: var(--color-background-mute);
  border-color: var(--color-border);
}

table {
  color: var(--color-background-font);
  background-color: var(--color-background-mute);
  border: 1px solid var(--color-border-invert);
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  border-left: none !important;
  border-right: none !important;
}

th {
  background-color: var(--color-background-soft);
  color: var(--color-background-font);
  border-left: none !important;
  border-right: none !important;
}

td,
th {
  border-top: 1px solid var(--color-border-invert);
  border-bottom: 1px solid var(--color-border-invert) !important;
  border-left: none !important;
  border-right: none !important;
  text-align: center !important;
  padding: 8px;
}

tr {
  background-color: var(--color-background-mute);
  color: var(--color-background-font);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: var(--color-background-mute-font);
  background-color: var(--color-background-mute);
}

.accordion-item {
  border: 1px solid var(--color-modal-background-inverted);
}

.dropdown-menu.show,
.dropdown-menu .dropdown-menu {
  background-color: var(--color-background);
  border: 1px solid var(--color-modal-background-inverted);
}

.dropdown-item {
  color: var(--color-nav-text);
}

.dropdown-menu li a:hover,
.dropdown-item:hover,
.dropdown-submenu .dropdown-item:hover {
  background-color: var(--color-background);
  color: var(--color-background-font);
}

.dropdown {
  cursor: pointer;
}

.form-check-label {
  user-select: none;
}

.modal-content {
  color: var(--color-background-font);
  background-color: var(--color-background);
  border: 1px solid var(--color-modal-background-inverted);
}

.modal-header {
  color: var(--color-background-font);
  background-color: var(--color-background-mute);
  border-bottom: 1px solid var(--color-modal-background-inverted);
}

.modal-footer {
  color: var(--color-background-font);
  background-color: var(--color-background-mute);
  border-top: 1px solid var(--color-modal-background-inverted);
}

.modal-body .card-body, .card-body {
  color: var(--color-background-font);
  background-color: var(--color-background) !important;
}

.modal-body .card, .card {
  background-color: var(--color-background);
  color: var(--color-background-font);
  border: 2px solid var(--color-modal-background-inverted);
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear,
  visibility 0.2s linear 0.2s;
  width: 200px;
  background-color: var(--color-background-mute);
  color: var(--color-background-font);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-modal-background-inverted) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.tooltip .tooltiptext:hover {
  visibility: hidden;
  opacity: 0;
}

.dp__input,
.dp__input:focus,
.dp__input:hover {
  background-color: var(--color-background) !important;
  color: var(--color-background-font) !important;
  border-color: var(--color-modal-background-inverted) !important;
}

.dp__theme_light {
  background-color: transparent !important;
  border-color: var(--color-modal-background-inverted) !important;
  --dp-range-between-dates-background-color: var(--color-background) !important;
  --dp-range-between-border-color: var(--color-background) !important;
  --dp-hover-color: var(--color-form-background) !important;
  --dp-background-color: var(--color-background-mute) !important;
}

.dp__arrow_bottom {
  background-color: var(--color-background-mute) !important;
  color: var(--color-background-mute-font) !important;
  border-color: var(--color-modal-background-inverted) !important;
  --dp-range-between-dates-background-color: var(--color-background) !important;
  --dp-range-between-border-color: var(--color-background) !important;
  --dp-hover-color: var(--color-form-background) !important;
  --dp-background-color: var(--color-background-mute) !important;
}

.dp__input_icon,
.dp__clear_icon {
  color: var(--color-background-font) !important;
}

.page-item.disabled {
  user-select: none;
}

.btn {
  user-select: none;
}

.btn:hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.scrollable-filter {
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-of-pages {
  text-align: center;
}

.form-check-input:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  --bs-btn-color: var(--color-primary-font);
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: var(--color-primary-font);
  --bs-btn-hover-bg: var(--color-primary-hover);
  --bs-btn-hover-border-color: var(--color-primary-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-primary-font);
  --bs-btn-active-bg: var(--color-primary-active);
  --bs-btn-active-border-color: var(--color-primary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-primary-font);
  --bs-btn-disabled-bg: var(--color-primary-disabled);
  --bs-btn-disabled-border-color: var(--color-primary-disabled);
}

.btn-primary-temp {
  --bs-btn-color: var(--color-primary-font);
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: var(--color-primary-font);
  --bs-btn-hover-bg: var(--color-primary-hover);
  --bs-btn-hover-border-color: var(--color-primary-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-primary-font);
  --bs-btn-active-bg: var(--color-primary-active);
  --bs-btn-active-border-color: var(--color-primary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-primary-font);
  --bs-btn-disabled-bg: var(--color-primary-disabled);
  --bs-btn-disabled-border-color: var(--color-primary-disabled);
}

.btn-secondary {
  --bs-btn-color: var(--color-secondary-font);
  --bs-btn-bg: var(--color-secondary);
  --bs-btn-border-color: var(--color-secondary);
  --bs-btn-hover-color: var(--color-secondary-font);
  --bs-btn-hover-bg: var(--color-secondary-hover);
  --bs-btn-hover-border-color: var(--color-secondary-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-secondary-font);
  --bs-btn-active-bg: var(--color-secondary-active);
  --bs-btn-active-border-color: var(--color-secondary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-secondary-font);
  --bs-btn-disabled-bg: var(--color-secondary-disabled);
  --bs-btn-disabled-border-color: var(--color-secondary-disabled);
}

.btn-secondary-temp {
  --bs-btn-color: var(--color-secondary-font);
  --bs-btn-bg: var(--color-secondary);
  --bs-btn-border-color: var(--color-secondary);
  --bs-btn-hover-color: var(--color-secondary-font);
  --bs-btn-hover-bg: var(--color-secondary-hover);
  --bs-btn-hover-border-color: var(--color-secondary-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-secondary-font);
  --bs-btn-active-bg: var(--color-secondary-active);
  --bs-btn-active-border-color: var(--color-secondary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-secondary-font);
  --bs-btn-disabled-bg: var(--color-secondary-disabled);
  --bs-btn-disabled-border-color: var(--color-secondary-disabled);
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ad6060;
  --bs-btn-border-color: #ad6060;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #935252;
  --bs-btn-hover-border-color: #935252;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #794343;
  --bs-btn-active-border-color: #794343;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ad6060;
  --bs-btn-disabled-border-color: #ad6060;
}

.btn-link {
  text-decoration: none !important;
}

.btn-link, .routerLink {
  color: var(--color-primary);
}

.btn-link:hover, .routerLink:hover {
  color: var(--color-primary-hover);
}

.btn-link:active, .routerLink:active {
  color: var(--color-primary-active);
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--color-primary-font);
  --bs-pagination-bg: var(--color-primary);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--color-border);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: var(--color-primary-font);
  --bs-pagination-hover-bg: var(--color-primary-hover);
  --bs-pagination-hover-border-color: var(--color-border);
  --bs-pagination-focus-color: var(--color-primary-font);
  --bs-pagination-focus-bg: var(--color-primary-hover);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.25);
  --bs-pagination-active-color: var(--color-primary-font);
  --bs-pagination-active-bg: var(--color-primary-active);
  --bs-pagination-active-border-color: var(--color-border);
  --bs-pagination-disabled-color: var(--color-background-font);
  --bs-pagination-disabled-bg: var(--color-background-mute);
  --bs-pagination-disabled-border-color: var(--color-border);
  list-style: none;
}

.progress {
  --bs-progress-bar-bg: var(--color-primary, #7561a9);
  --bs-progress-bg: var(--color-background-soft, #d8d8d8);
  border: 1px solid var(--color-background-mute, #b9b9b9);
}

.alert {
  --bs-alert-border: 1px solid #ad6060;
  --bs-alert-bg: #e4b6b6;
}

.offcanvas-header {
  background-color: var(--color-background);
  color: var(--color-background-font);
  box-shadow: var(--vt-c-black) 0, 0, 10px;
}

.offcanvas-body {
  background-color: var(--color-background);
  color: var(--color-background-font);
  position: relative;
}

button:not(.btn-primary):not(.btn-secondary) i {
  color: var(--color-nav-text-hover);
}

button:not(.btn-primary):not(.btn-secondary):hover i {
  color: var(--color-background-font);
}



