@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  /* background-color: #9191aa; */
  background-color: #b9b9b9;
}

* {
  font-family: 'Public Sans', sans-serif;
}

input {
  font-family: 'Public Sans', sans-serif;
}

input[type='checkbox'],
input[type='radio'],
input[type='text'],
input[type='number'],
input[type='name'],
.border-top {
  background-color: #f4f4f4 !important;
  border-color: #484848 !important;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: #60aeae !important;
  border-color: #60aeae !important;
}

table {
  color: #1b1b1b;
  background-color: #d8d8d8;
  border: 1px solid #929292 !important; /* Add this line */
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  border-left: none !important;
  border-right: none !important;
}

th {
  background-color: #b9b9b9 !important;
  border-left: none !important;
  border-right: none !important;
}

td,
th {
  border-top: 1px solid #929292 !important;
  border-bottom: 1px solid #929292 !important;
  border-left: none !important;
  border-right: none !important;
  text-align: center !important;
  padding: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #d8d8d8;
}

.accordion-item {
  border: 1px solid #484848;
}

.dropdown-menu.show {
  background-color: #d8d8d8;
  border: 1px solid #484848;
}

.dropdown-menu li a:hover, .dropdown-item:hover {
  background-color: #c0c0c0;
}

.dropdown-menu li a:active, .dropdown-item:active{
  background-color: #7561a9;
}

.dropdown {
  cursor: pointer;
}

.form-check-label {
  user-select: none;
}

.modal-content {
  background-color: #b9b9b9;
  border: 1px solid #484848;
}

.modal-header {
  background-color: #9f9f9f;
  border-bottom: 1px solid #484848;
}

.modal-footer {
  background-color: #9f9f9f;
  border-top: 1px solid #484848;
}

.modal-body .card-body {
  background-color: #cdcdcd;
  /* border radius */
  border-radius: 5px;
}

.modal-body .card {
  border: 1px solid #484848;
}
