@import url('bootstrap/dist/css/bootstrap.min.css'); 

.dropdown{
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}