<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register bot</title>
</head>
<body>
    <h1>Register bot</h1>
    Maybe most of this is NOT entered by the user. Have a "register printer" page 
    where a user can "detect" the printers and register a new one. If its not in the database already 
    its displayed. Can get info like firmware etc from protocol. In which case some of this 
    info is unnecessary. 

    <form method="POST" action="/submitbot">
        <label for="botmodel">Bot model</label><input type="text" id = "botmodel" name = "botmodel"><br>
        <label for="length">Build volume length (enter in inches)</label><input type="number" id = "length" name = "length"> <label for="width">width</label><input type="number" id = "width" name = "width"> <label for="height">Height</label><input type="number" id = "height" name = "height"><br>
        <label for="firmware">Firmware version</label><input type="text" id = "firmware" name = "firmware"><br>
        <label for="materials">Supported materials (enter comma separated list)</label><input type="text" id = "materials" name = "materials"><br>
        <label for="notes">Notes</label><input type="text" id = "notes" name = "notes"><br>
        <input type="submit" value="Submit">
    </form>

    <!-- Portion for detecting printer -->
    <label for="serial_port">Serial Port:</label>
    <select name="serial_port" required>
        <option value="" disabled selected>Select a printer</option>
        {% for printer in detected_printers %}
            <option value="{{ printer }}">{{ printer }}</option>
        {% endfor %}
    </select>
    <br>

</body>
</html>