<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Select Port</h1>

    <label for="ports">Select printer port:</label>
    <form method="POST" action="/botselected">
        <select name="ports" id="ports" required>
            <option value="None">Device: None</option>
            {% for port in printerlist %}
            <option value=`{{port}}`>Device: {{port}}</option>
            {% endfor %}
        </select>
        <br><br>
        Upload your .gcode file
        <input type="file" id="file" name="file" accept=".gcode" required>
        <br><br>

        <label for="name">Quantity</label>
        <input type="number" id="quantity" name="quantity" required>
        <br><br>

        <!-- on or None -->
        <label for="priority">Priority job?</label>
        <input type="checkbox" id="priority" name="priority">

        <br><br>
        <input type="submit" value="Submit">
    </form>

    <!-- 
    <ul>
        {% for port in printerlist %}
            <li>Device: {{ port.device }}, Description: {{ port.description }}</li>
        {% endfor %}
    </ul> -->
</body>

</html>